*{ margin:0; padding: 0; }
div#top{
		background: #59BDF5;
		width:945px;
		height: 50px;
		margin: 0 auto;

}
div#topo{
		background: #59BDF5;
		width:945px;
		height: 300px;
		margin: 0 auto;

}
div#Logo{

		width:200px;
		height: 60px;
		margin: 0 auto;
}
div#baixar{

		width:200px;
		height: 60px;
		margin-left: 43px;

}

div#avatar{
		width:200px;
		height: 80px;
		margin: 50 auto;
}

div#c1{
		background: #1671A4;
		width:945px;
		height: 170px;
		margin: 0 auto;
}
div#c2{
		background: #1671A4;
		width:945px;
		height: 100px;
		margin: 0 auto;
}
div#c2 p{
	color: #ffffff;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
}

div#c3{
		background: #59BDF5;
		width:945px;
		height: 220px;
		margin: 0 auto;
}

div#c4{

			background: #59BDF5;
			width:945px;
			height: 10px;
			margin: 0 auto;
	}
div#c5{
		background: #1671A4;
		width:945px;
		height: 340px;
		margin: 0 auto;
}

div.chamada{
	background: #59BDF5;
	width:245px;
	height: 500px;
	float:left;
	margin-top: 20px;
	margin-left: 43px;
	margin-right: 20px;
	text-align: center;
	font-family: verdana;
}
div.chamada h1{
	font=font-family:Arial
}
div.chamada p{

}
div#cel{
  background: #59BDF5;
	width:945px;
	height: 300px;
	margin: 0 auto;

}
div#todape{
		background: #1671A4;
		width:945px;
		height: 30px;
		margin: 0 auto;

}
